/.metadata/
/.RemoteSystemsTempFiles/
/..recommenders/

/ssm-rest/.settings/
/ssm-rest/target/
/ssm-rest/images/
/ssm-rest/WebContent/
/ssm-rest/.classpath
/ssm-rest/.project

/java-demo/.settings/
/java-demo/target/
/java-demo/WebContent/
/java-demo/.classpath
/java-demo/.project



